body {
  background-color: azure;
  font-family: monospace !important;
  padding-bottom: 8%;
}

.accordion-wrapper {
  display: grid;
  grid-template-columns: [content-start] minmax(400px, 0.75fr) [content-end];
  gap: 1rem;
  place-content: center;
}

.logo {
  padding: 1rem;
  max-width: 400px;
}

ul li {
  margin-bottom: 16px;
}

ol {
  margin-bottom: 1rem;
}

a {
  font-size: 1.1rem;
}

.toggle-wrapper {
  visibility: hidden;
}

hr {
  width: 33.333%;
  margin: 0;
  margin-top: 0px;
  background-color: brown;
  color: aliceblue;
  margin-top: 3rem;
}

pre {
  white-space: pre-line;
  word-wrap: break-word;
  text-align: justify;
}

.headboard {
  text-align: center;

  img {
    max-width: 300px;
  }
}
